# Pinterest API access token
# https://developers.pinterest.com/docs/getting-started/authentication/
PINTEREST_ACCESS_TOKEN=

# 레퍼런스 저장 폴더 (기본: ~/refs)
# Windows 예시: C:/Users/ssj__/refs
REFS_OUTPUT_DIR=
